@font-face {
  font-family: "Spartan";
  src: url("../../fonts/spartan/Spartan-Regular.ttf");
}

@font-face {
  font-family: "Caveat";
  src: url("../../fonts/coveat/Caveat-Regular.ttf");
}


@font-face {
  font-family: "Nunito";
  src: url("../../fonts/nunito/Nunito-Regular.ttf");
}