//------------переменные

$main-font: "Nunito", sans-serif; //основной шрифт
$sec-font: "Caveat", sans-serif; //второй шрифт
$second-color: #fff;

//----- mixin

@mixin auto-margin{
  margin: 0 auto;
}

//-----общие стили

*{
  box-sizing: border-box;
}

html, body{
  margin: 0;
  padding: 0;
  font-family: $main-font;
}

button{
  background: none;
  border: none;
  cursor: pointer;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

li{
  margin: 0;
  padding: 0;
}

.btn-risk{
  width: 315px;
  height: 70px;
  color: $second-color;
  font-weight: 800;
  background: url("../../media/images/btnBack.png") no-repeat;
}

.main-title{
  color: red;
  font-size: 60px;
  font-weight: 800;
  text-align: center;
  @include auto-margin;
}

@media (max-width: 700px) {

  .main-title{
    font-size: 45px;
  }

}